    /* Set global styles for the body */
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  /* Style for textarea elements */
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }

  /* Style for the header section */
  header {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    padding: 20px;
  }

  /* Style for the planner container */
  #planner {
    max-width: 800px;
    margin: 20px auto;
  }

  /* Style for time blocks */
  .time-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #050000;
    border-radius: 5px;
  }

  /* Style for child div within time-block */
  .time-block div {
    flex: 1;
  }

  /* Style for row elements */
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }

  /* Style for hour class */
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }

  /* Style for past time blocks */
  .past {
    background-color: #d3d3d3;
    color: white;
  }

  /* Style for present time block */
  .present {
    background-color: #ff6961;
    color: white;
  }

  /* Style for future time blocks */
  .future {
    background-color: #77dd77;
    color: white;
  }

  /* Style for input elements */
  input {
    width: 70%;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }

  /* Style for button elements */
  button {
    padding: 5px 10px;
    background-color: #ffffff;
    cursor: pointer;
    border-left: 1px solid var(--BLACK);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--BLUE);
    color: var(--FONT-WHITE);
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Hover effect for button elements */
  button:hover {
    font-size: 20px;
    color: blue;
    transition: all 0.3s ease-in-out;
  }

  /* Style for element with ID "currentDay" */
  #currentDay {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
